<%- include('partials/header')-%>

<br><br>
<br><br>



<div class="container">
  <div class="row">
    <div class="col-md-8">
      <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_lYC5mj.json"  background="transparent"  speed="1"  style="width: 100%; height: 100%;"  loop autoplay>
</lottie-player>
    </div>
    <div class="col-md-4">
    <br><br>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Student Login</strong></h3></div>
            <div class="panel-body">
                <form action="/poli/login" method="POST" role="form" id="loginForm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Registration Number</label>
                        <input type="text" name="username"  class="form-control" style="border-radius:0px"  placeholder="Enter email">
                      </div>
                      <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" name="password" class="form-control" style="border-radius:0px" id="userPassword" placeholder="Password">
                      </div>
                      <button type="submit" class="btn btn-sm btn-default">Sign in</button>
                      <a class="btn btn-sm btn-default pull-right" href="/poli/new">Register</a>
                  </form>
              </div>
          </div>
      </div>
  </div>

</div>

